{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    <div class="page-title">
        <h1>{{ "Changer mot de passe"|trans }}</h1>
    </div>
    <!-- /.page-title -->
    {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock fos_user_content %}
